body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8f8f2;
    background-color: #282a36;
}

a {
    color: #f8f8f2;
}

.mainTitle{
    margin: 4%;
    color: #50fa7b
}

.firstIndentCommentLarge{
    margin: 4%;
    color: #50fa7b;
    font-size: 1.5rem;
}

.linkBox h3{
    text-align: center;

}

.linkBox {
    margin-left: 4%;
    max-width: fit-content;
    border: 1px dashed;
    padding: 1%;
    color: #50fa7b
}

.bioBox{
    color: #50fa7b;
    margin-left: 4%;
}

.codeChunk {
    margin-left: 2%;
    font-size: 2rem;
}

.moreCode{
    font-size: 0.8rem;
    margin-left: 2%;
}

.ifStatement{
    margin-left: 2%;
}